h1{
text-align: center;
text-decoration: underline;
  margin-top:75px;
  color:blue;
  text-shadow: 5px 5px 5px red;

}
table,td,tr,th{
    border:5px solid purple;
    margin-top:50px;
    margin-left:375px;
    padding: 5px;
    text-align: center;

}
th{
    color:red;
    font-weight: bold;
    background-color: gold;
    font-style: italic;
    font-size: 18px;
}

body{
  background-color: pink;  
}
.main1{
    background-color: rgb(244, 145, 14);
}
.main2{
    background-color: rgb(117, 149, 230);
}
.main3{
    background-color: rgb(248, 161, 165);
}
.main4{
    background-color: rgb(161, 231, 231);
}
.main5{
    background-color: rgb(95, 169, 64);
}
.main6{
    background-color: rgb(178, 187, 75);
}
button{
    color:blue;
    background-color: aqua;
    font-weight: bold;
}
button:hover{
    background-color: black;
    color:red;
}