
a{
    text-decoration: none;
    color:red;
}
li{
    list-style-type: none;
}
.veg{
    background-color:blue;
    display: flex;
    justify-content: space-evenly;
}


.h{
    color:aqua;
    font-size: larger;
    text-shadow: 5px 5px 5px red;
}

.i:hover{
    color: green;
    background-color: orange;
    transition:2s;
}
